* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-multiplier: 5.5vw;
  --grid-size: 5;
  --primary-color: #3aaa35;
  --secondary-color: #f0f0f0;
  --white-color: #ffffff;

  font-size: calc(var(--font-multiplier) / var(--grid-size));
}

@media screen and (min-width: 1024px) {
  :root {
    --font-multiplier: 3vw;
  }
}
